body {
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: grey; */
  background: radial-gradient(
    circle,
    rgb(145, 126, 126) 0%,
    rgb(124, 118, 106) 10%,
    #423e38b7 30%,
    #272724 50%,
    rgb(0, 0, 0) 80%
  );
  /* url(https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1211&q=80); */
  /* url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80); */
  /* background-position: center; */
  color: white;
  /* background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover; */
  font-family: "Turret Road", "Goldman", "League Spartan", sans-serif, cursive;
}

h1 {
  text-align: center;
}

div {
  display: flex;
  border-radius: 10px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid #4d102c; */
  /* background-color: #12003eb7; */
  /* backdrop-filter: blur(5px); */
  /* box-shadow: 1px 1px 2px 1px #35444f; */
  margin: 10px;
  padding: 10px;
}

div.app_wrapper {
  background-color: #020202b7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: 90%;
}

input {
  padding: 2px;
  background-color: #d5d6da;
  margin-block: 10px;
  color: #b23a48;
  border-radius: 5px;
  width: fit-content;
  border-top: #c7c8cc 2px solid;
  border-bottom: #78797e 2px solid;
  border-left: #9b9ba0 2px solid;
  border-right: #9b9ba0 2px solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input::placeholder {
  color: #b23a48;
}

p {
  /* background-color: #27194b; */
  text-align: center;
  color: #c8ff00;
  font-weight: 500;
  width: fit-content;
  max-width: 300px;
  padding: 10px;
  /* border: 1px solid #c8ff00;
  box-shadow: 0 0 20px #c8ff00; */
  border-radius: 5px;
}

#workField {
  display: none;
}

#csRestartButton {
  display: none;
}

#csResultField p {
  padding: 0;
  border: none;
}

div #csResultField {
  padding: 0 0.9em;
  /* background-color: #003e0da9; */
  justify-content: flex-start;
}

#csResult4,
#moneyCounter {
  margin: 0;
}

h3 {
  border-top: #d5d6da 1px solid;
  border-bottom: #78797e 5px solid;
  border-left: #9b9ba0 5px solid;
  border-right: #9b9ba0 5px solid;
  background-color: #545457;
  border-radius: 8px;
  padding: 3px;
  color: #c8ff00;
  font-weight: 500;
  width: fit-content;
  max-width: 200px;
  text-align: center;
}

button {
  border-top: #d5d6da 1px solid;
  border-bottom: #78797e 5px solid;
  border-left: #9b9ba0 5px solid;
  border-right: #9b9ba0 5px solid;
  background-color: #c7c8cc;
  /** old colors: */
  /* border-top: #6c73a1 1px solid;
  border-right: #6b72a3 5px solid;
  border-bottom: #515680 5px solid;
  border-left: #6b72a3 5px solid; 
    background-color: #6b72a3;*/
  border-radius: 12px;
  color: #be0159;
  /* box-shadow: 0 0 3px 2px rgb(107, 5, 22); */
  padding: 5px;

  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*! cool button style! */

button:active {
  border-color: #8ab100;
  background-color: #c8ff00;
}

#csButton2,
#csButton3 {
  /* display: none; */
}

/* Event windows */

.image_result,
.date_window,
.random_event {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #212529;
  color: whitesmoke;
}

.image_result {
  height: 30%;
  width: 20%;
  top: 5%;
  right: 5%;
  margin: auto;
}

.date_window {
  /* display: inline; */
  position: absolute;
  top: 5%;
  left: 5%;
  margin: auto;

  height: fit-content;
  width: fit-content;
}

.random_event {
  position: absolute;
  backdrop-filter: blur(5px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 85%;
  width: 400px;
  background-color: #212529a8;
}

.random_event div {
  display: flex;
  justify-content: center;
}

.event_btn {
  flex-direction: row;
}

.event_btn button {
  margin: 5px;
}

#event_close_btn {
  display: none;
  position: absolute;
  left: 40%;
}

.random_event_wrapper {
}
